
header {color: #3058DC;
        background-color: #FF7700;}

footer  {background-color: #FF7700;}

body {background-color: #43B2E9;}

ul {font: 12px verdana, Helvetica}

p { font: 12px verdana;
  font-style: italic;
  color: #3058DC;

}
